.overview {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: $desktop-min-width) {
    &__entry {
      flex: 0 1 48%;
    }
  }

  @supports (display: grid) {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 2em;
    justify-content: stretch;
    @media screen and (min-width: $desktop-min-width) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "main main" "part part" "footer footer";
      
      &__entry:first-child {
        grid-area: main;
      }

      &__entry:last-child {
        grid-area: footer;
      }
    }
  }
  justify-content: space-between;
  align-items: start;
  align-content: center;
  margin: 2em 0;
  list-style: none;
  padding: 0;
}
