// *************************************
//
//   Sass calc lock for line-height
//   -> http://blog.typekit.com/2016/08/17/flexible-typography-with-css-locks/
//
//   This Sass file is based on http://codepen.io/timbrown/full/akXvRw/.
// *************************************

// -------------------------------------
//   Some basic layouting
// ——————————————————
body {
   margin: 1em auto;
   padding: 1em;
   font-family: "Source Sans Pro", sans-serif;
   font-size: $font-size;
   max-width: $upper-gate;
   line-height: $min-lineheight;
}

   
// -------------------------------------
//   Usage of the "molten leading" line-height
// ——————————————————

/* 21em "gate" * 1.15 font-size */
@media screen and (min-width: #{$lower-gate* strip-units($font-size)}) {
  p {
    line-height: molten-leading($lower-gate, $upper-gate, $min-lineheight, $max-lineheight);
  }
}
   

/* 35em "gate" * 1.15 font-size */
@media (min-width: #{$upper-gate * strip-units($font-size)}) {
  p {
    line-height: $max-lineheight;
  }
}
