// -------------------------------------
//   Definition of the settings (cf. the typekit blog article for namings)
// ——————————————————

$font-size: 1em;
$min-lineheight: 1.3em;
$max-lineheight: 1.5em;
$lower-gate: 20em;
$upper-gate: 55em;
