<section>
  <span>{{i18n "navigation"}}:</span>
  <ul>
    <li><a href="/metanav/privacypolicy">{{ i18n "privacypolicy"}}</a></li>
    <li><a href="/metanav/about">{{ i18n "about" }}</a></li>
    <li><a href="/metanav/setup">Setup</a></li>
    {{ range .Site.Home.AllTranslations }}
      <li>
        <a href="{{.Permalink}}">{{ if eq .Lang "de" }}🇩🇪{{else}}🇬🇧{{ end }}</a>
      </li>
    {{ end }}
  </ul>
</section>

<section>
  <span>Blogroll 📜:</span>
  <ul>
    <li>
      <a href="http://www.apfelmuse.de/">Andrea Juchem</a>
    </li>
    <li>
      <a href="http://monika-heusinger.info/">Monika Heusinger</a>
    </li>
  </ul>
</section>

<section>
  <span>{{i18n "lovely_projects"}}:</span>
  <ul>
    <li>
      <a href="http://coderdojo-saar.de/">CoderDojo Saar</a>
    </li>
    <li>
      <a href="https://marketplace.visualstudio.com/items?itemName=andi1984.tinypng">TinyPNG #VSCode Extension</a>
    </li>
    <li>
      <a href="https://addons.mozilla.org/en-US/firefox/addon/dimensions-theme/">Firefox Theme</a>
    </li>
    <li>
      <a href="https://dimensions.ai">Dimensions.ai (Business)</a>
    </li>
  </ul>
</section>
&copy; {{ now.Format "2006" }}
