.posting {
  position: relative;
  word-wrap: break-word;
  
  // -------------------------------------
  //   A pile of sheets
  // ——————————————————
  @media(min-width: $upper-gate) {
    box-shadow: 0 0 5px rgba($article-shadow,.2);
    background: lighten($article-bg, 3%);
    padding: 1.5em;
    margin: 1.5em 0;

    &::before, &::after {
      content: '';
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background: inherit;
      box-shadow: inherit;
      transform: rotate(2deg);
    }

    &::after 
    { transform: rotate(-1deg) }
  }
}
 