.overview {
  display: grid;
  grid-column-gap: 25px;
  grid-row-grap: 15px;
  align-items: start;
  justify-content: stretch;
  align-content: center;
  margin: 0;
  list-style: none;
  padding: 0;
  grid-template-columns: 100%;
  @media screen and (min-width: $desktop-min-width) {
    grid-template-columns: 50% 50%;
  }
  &__entry {
    
  }
}
