.posting {
  position: relative;
  word-wrap: break-word;

  // -------------------------------------
  //   A pile of sheets
  // ——————————————————
  @media (min-width: $desktop-min-width) {
    background: lighten($article-bg, 3%);
    padding: 1.5em;
    margin: 1.5em 0;
    border-radius: 5px;

    transform: rotate(-1deg);
    .overview__entry & {
      transform: none;
    }

    &::before {
      content: '';
      position: absolute;
      border-style: solid;
      border-width: #{1.5em/2};
      top: 0;
      left: 0;
      border-color: white $article-bg $article-bg
        white;
      border-bottom-right-radius: 5px;
    }
  }
}
