// -------------------------------------
//   Definition of the settings (cf. the typekit blog article for namings)
// ——————————————————

$font-size: 1.15em;
$min-lineheight: 1.3em;
$max-lineheight: 1.5em;
$lower-gate: 21em;
$upper-gate: 35em;
