%unvisited-link {
  position: relative;
  padding: 0 5px;
  color: $link-unvisited-color;
  background-color: $link-unvisited-bg;

  &::after {
    content: "\2693";
    width: 0;
    position: relative;
    display: inline-block;
    right: 0;
    bottom: -0.7em;
    color: $sea-blue;
    transform: rotate(-9deg);
  }
}

%visited-link {
  @extend %visited-link;
  color: $link-visited-color;
  background-color: $link-visited-bg;
}
