<!DOCTYPE html>
<html lang="{{.Site.Language.Lang}}">
<head>
  {{- block "head" .}}{{end}} {{partial "meta.html" .}}
  <script type="text/javascript" src="/sw-registration.js"></script>
  <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
  <header>
    {{partial "header.html" .}}
    {{- block "header" .}}{{end}}
  </header>
  <main>{{- block "main" .}}{{end}}</main>
  <aside>{{- block "aside" .}}{{end}}</aside>
  <footer>{{partial "footer.html" .}}{{- block "footer" .}}{{end}}</footer>
  <script rel="preload" type="text/javascript" src="/common.js"></script>
  <script defer type="text/javascript" src="/index.js"></script>
  {{- block "inlinejs" .}}{{end}}
</body>

</html>
