{{define "header"}}
<h1>{{.Title}}</h1>
<span class="date date--header">— {{partial "date-format.html" .}}</span>
<span>(⏱ {{.ReadingTime}} {{if gt .ReadingTime 1}}{{i18n "mins"}}{{else}}{{i18n "min"}}{{end}})</span>
{{end}}
{{define "main"}}
  <article class="posting">
    {{.Content}}
  </article>
  {{partial "comments.html" .}}
{{end}}
{{define "aside"}}
  {{partial "taxonomy-listings.html" .}}
  {{partial "translation-listings.html" .}}
{{end}}
{{define "inlinejs"}}
<script rel="preload" type="text/javascript" src="/single.js"></script>
{{end}}
