{{define "header"}}
  <div class="w-full">
    <h1>{{.Title}}</h1>
    <div class="text-grey-darkest mb-10">
      <div class="mb-2">
        <span>— {{partial "date-format.html" .}}</span>
        <span>(⏱ {{.ReadingTime}} {{if gt .ReadingTime 1}}{{i18n "mins"}}{{else}}{{i18n "min"}}{{end}})</span>
      </div>
      {{ if .Params.spotify }}
        <div data-js="spotify-play" data-spotify="{{.Params.spotify}}"></div>
      {{ end }}
    </div>
  </div>
{{end}}
{{define "main"}}
  <article class="posting">{{.Content}}</article>
  <div data-js="webmentions"></div>
{{end}}
{{define "aside"}}
  <div
    class="shadow-lg border-t-4 bg-white mb-4 border-green-light w-full">
    <div class="px-6 py-4 mb-2 mt-4 mb-8">
      {{partial "taxonomy-listings.html" .}}
      {{partial "translation-listings.html" .}}
      {{partial "share.html" .}}
    </div>
  </div>
{{end}}
{{define "inlinejs"}}
  <script rel="preload" type="text/javascript" src="/single.js"></script>
{{end}}
