<section>
  <div class="text-grey-dark mb-2">About</div>
  <ul class="list-reset leading-normal">
    <li><a href="/metanav/privacypolicy">{{ i18n "privacypolicy"}}</a></li>
    <li><a href="/metanav/about">{{ i18n "about" }}</a></li>
    <li><a href="/metanav/setup">Setup</a></li>
  </ul>
</section>
<section>
  <div class="text-grey-dark mb-2">Blogroll</div>
  <ul class="list-reset leading-normal">
    <li>
      <a href="http://www.apfelmuse.de/">Andrea Juchem</a>
    </li>
    <li>
      <a href="http://monika-heusinger.info/">Monika Heusinger</a>
    </li>
    <li>
      <a href="http://ibieler.com/">Ines Bieler</a>
    </li>
  </ul>
</section>

<section>
  <div class="text-grey-dark mb-2">{{i18n "lovely_projects"}}:</div>
  <ul class="list-reset leading-normal">
    <li>
      <a href="https://social.saarland">Saarland@Mastodon</a>
    </li>
    <li>
      <a href="http://coderdojo-saar.de/">CoderDojo Saar</a>
    </li>
    <li>
      <a href="https://marketplace.visualstudio.com/items?itemName=andi1984.tinypng">TinyPNG #VSCode Extension</a>
    </li>
    <li>
      <a href="https://addons.mozilla.org/en-US/firefox/addon/dimensions-theme/">Firefox Theme</a>
    </li>
    <li>
      <a href="https://dimensions.ai">Dimensions.ai (Business)</a>
    </li>
    <li>
      <a href="https://liberapay.com/andi1984/">Support 💰</a>
    </li>
  </ul>
</section>

<section>
  <div class="text-grey-dark mb-2">Profile</div>
  <ul class="list-reset leading-normal">
    <li><a href="https://twitter.com/@andi1984" rel="me">Twitter</a></li>
    <li><a href="https://social.saarland/@andi1984" rel="me">social.saarland</a></li>
    <li><a href="https://github.com/andi1984" rel="me">Github</a></li>
  </ul>
</section>

