{{ with .Params.series }}
  {{ range . }}
    <li>
      <a href="{{ "/series/" | relLangURL }}{{ . | urlize }}">
        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">
          #{{.}}
        </span>
      </a>
    </li>
  {{ end }}
{{ end }}

{{ with .Params.tags }}
  {{ range . }}
    <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}"
           class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">#{{ . }}</a>
    </li>
  {{ end }}
{{ end }}
