.stripe {
  /* Vertically & horizontally center */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Dimensions */
  width: 100%;
  height: auto;
  margin-bottom: 1em;

  /* Colors */
  background: linear-gradient(40deg, #49733d, #bf3636 60%, #73171f);
  color: white;
}

.stripe__text {
  font-family: serif;
  font-size: 1.5em;
  padding: 0.5em 0;
  text-align: center;

  @media (min-width: 500px) {
    font-size: 3em;
  }
}

.heart {
  display: inline-block;
  animation-name: wave;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.775, 0.530, 0.195, 0.910);
  animation-direction: alternate;
}

@keyframes wave {
  from {
    transform: rotate(-10deg);
  }

  to {
    transform: rotate(10deg);
  }
}
