.overview {
  @apply mt-5;
  display: flex;
  flex-wrap: wrap;
  @media (--large-viewport) {
    &__entry {
      flex: 0 1 48%;
    }
  }

  @supports (display: grid) {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 2em;
    justify-content: stretch;
    @media (--large-viewport) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "main main" "part part" "footer footer";

      /* Note: In case there is only 1 child (last AND first child) render in main! */
      &__entry:last-child {
        grid-area: footer;
      }

      &__entry:first-child {
        grid-area: main;
      }

    }
  }
  justify-content: space-between;
  align-items: start;
  align-content: center;
  list-style: none;
  padding: 0;
}
