.banner {
  @apply bg-green-lightest border-t-4 border-green rounded-b text-green-darkest py-1 shadow-md leading-none;
  display: block;
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 1;
  left: 0;
  top: 0;
  text-align: center;

  &--slide-in {
    transform: translateY(-200%);
    transition: transform 2s 1s ease-in-out;

    &.banner--slide {
      transform: none;
    }
  }
}
