blockquote {
	  color: var(--link-water);
	  background-color: rgba(var(--sea-blue), 0.7);
	  border-left: 5px solid var(--sea-blue);
	  padding: 1em 1em 1em 2em;
	  line-height: 1.5;
    box-shadow: rgba(var(--sea-blue), 0.9) 2px 2px 3px;

    &::selection, ::selection {
      background-color: rgba(var(--sea-blue), 0.7);
    }
    
    a {
      /* Hide green background on links */
      /* inside blockquotes for contrast reasons… */
      background: none;
    }

	  p {
	    margin-bottom: 0;
	    margin-left: 0;
	    margin-right: 0;
	    font-style: italic;

	    &:first-child {
	  		margin-top: 0;
	    }
		}
	}
