%unvisited-link {
  position: relative;
  padding: 0 5px;
  color: var(--link-unvisited-color);
  background-color: var(--link-unvisited-bg);

  &::after {
    content: "\2693";
    width: 0;
    position: relative;
    display: inline-block;
    right: 0;
    bottom: -0.7em;
    color: var(--sea-blue);
    transform: rotate(-9deg);
  }
}

%visited-link {
  @extend %visited-link;
  color: var(--link-visited-color);
  background-color: var(--link-visited-bg);
}
